* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

.app,
#root {
  width: 100%;
  height: 100%;
}

.mainWindow {
  width: 100%;
  height: calc(100% - 25px);
  position: relative;
  overflow: hidden;
}

.display,
.display canvas {
  width: 100%;
  height: 100%;
}

.displayOverlay {
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: monospace;
  color: white;
  font-size: 13pt;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.statusBar {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: small;
}

.statusBar div {
  padding: 12px;
}

.sidebarListener {
  position: absolute;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
}

.setup {
  padding: 16px;
  min-width: 250px;
}

.HUDWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  letter-spacing: 1pt;
  font-size: 16pt;
  color: white;
  font-weight: bold;
}

.terminalContainer {
  position: fixed;
  top: 5vh;
  left: 300px;
  width: calc(100vw - 330px);
  height: 90vh;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 1s;
  border-radius: 4px;
  padding: 4px;
  background-color: #232322;
}

.terminalContainer.true {
  position: fixed;
  visibility: visible;
  opacity: 1;
}

#terminal {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 4px;
  overflow: hidden;
  padding: 4px;
  transition: all ease-in-out 1s;
}

#hud {
  width: 800px;
  height: 600px;
  transform: scale(0.7);
}

.map {
  width: 100%;
  height: 100%;
}

.floater {
  position: absolute;
  width: 450px;
  height: 350px;
  max-width: 40%;
  max-height: 40%;
  bottom: 16px;
  right: 16px;
  transition: all ease-in-out .2s;
}

.floater #map2d {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 75%;
}

.infoPanel,
.actionPanel {
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: larger;
  padding-left: 4px;
}

.infoPanel div,
.actionPanel div {
  margin-right: 4px;
}

.signalFloater {
  position: absolute;
  top: 8px;
  right: 16px;
  transform: scale(1.3);
}